.pos .pos-logo {
    /*background: url(img/logo.png) no-repeat;*/
    /*background-size: 100%;*/
    content: url(img/logo.png);
    box-sizing: border-box;
    margin-top: 5px;
}

.pos .pos-topheader {
    background: #14365A;
}

.pos .mode-button.selected-mode {
    background: #14365A;
}

.pos .mode-button.selected-mode:hover {
    background: navy;
}
.pos .categories {
    border-bottom: solid 3px #14365A;
}

.pos .leftpane .pads {
    border-top: solid 3px #14365A;
}

/*.pos .order .orderline {
    height: 78px;
    padding-top: 8px;
}*/

.pos .order .orderline .product-img {
    margin: 8px 16px 0 0;
}

.pos .order .orderline .product-img img {
    /*max-height: 60px;*/
}

.pos .order .orderline.selected {
    background: #14365A;
}
.pos .order .orderline.selected .product-name {
    color: #FFF !important;
}

.pos .order .orderline.selected .price {
    color: #FFF !important;
}

.pos .product .price-tag {
    background: #14365A;
}

.pos .product .product-img img:hover {
    height: calc(100px * 1.2);
    max-height: calc(100px * 1.2);
    max-width: calc(120px * 1.2);
}

.pos .custom-pos {
    margin: 8px 16px;
    font-size: 14px;
}
.pos .custom-pos .button {
    display: block;
    height: 48px;
    font-weight: bold;
    vertical-align: middle;
    color: #555;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #bfbfbf;
    transition: all 150ms linear;
}
.pos .custom-pos .button:hover {
    background: #EFEFEF;
}
.pos .custom-pos .session {
    display: block;
    margin-top: 10px;
    font-style: italic;
}
